[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1.4"
pylint-django = "*"
django-tastypie = "*"
gunicorn = "*"
whitenoise = "*"
flake8 = "*"
pep8 = "*"
install = "*"
autopep8 = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
