{% extends 'base.html' %}

{% block content %}
  <section class="jumbotron py-5 text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Vidly Movie Library</h1>
      <p class="lead text-muted">A movie library where you'll find the best movies on the planet !!</p>
    </div>
  </section>

  <div class="album py-3">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://images5.alphacoders.com/103/1033563.jpg" data-holder-rendered="true">
            <div class="card-body">
              <p class="card-text">Batman: The Dark Knight</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://images5.alphacoders.com/689/689398.jpg" data-holder-rendered="true">
            <div class="card-body">
              <p class="card-text">Captain America: Civil War</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://images4.alphacoders.com/209/209148.jpg" data-holder-rendered="true">
            <div class="card-body">
              <p class="card-text">Terminator</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://images.alphacoders.com/490/490738.jpg" data-holder-rendered="true">
            <div class="card-body">
              <p class="card-text">Inception</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://images2.alphacoders.com/817/817327.jpg" data-holder-rendered="true">
            <div class="card-body">
              <p class="card-text">Superbad</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://images5.alphacoders.com/901/901363.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
            <div class="card-body">
              <p class="card-text">Jumanji: Welcome to the jungle</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://images7.alphacoders.com/342/342177.jpg" data-holder-rendered="true">
            <div class="card-body">
              <p class="card-text">Into the wild</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://images5.alphacoders.com/338/338840.jpg" data-holder-rendered="true">
            <div class="card-body">
              <p class="card-text">The Shawshank Redemption</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://images6.alphacoders.com/771/771738.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
            <div class="card-body">
              <p class="card-text">The Godfather</p>
            </div>
          </div>
        </div>
      </div>
    <div>
  </div>        
{% endblock  %}